*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-color: #222237;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--base-color);
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.menu .toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 3rem;
  color: var(--base-color);
  transition: all 0.5s ease;
  cursor: pointer;
}

.menu .toggle.active {
  background-color: var(--base-color);
  box-shadow: 0 0 0 60px #fff, 0 0 0 68px #fff;
  color: #fff;
  transform: rotate(315deg);
}

.menu li {
  position: absolute;
  left: 10px;
  list-style-type: none;
  transition: all 0.5s ease;
  transform: rotate(calc(360deg / 8 * var(--i))) translateX(40px);
  transform-origin: 140px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.menu.active li {
  visibility: visible;
  opacity: 1;
}

.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 1.75rem;
  color: var(--base-color);
  transform: rotate(calc(360deg / -8 * var(--i)));
}

.menu.active li.active {
  background-color: #ccc;
  border-radius: 50%;
}
