*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-color: #222327;
  --primary-color: #29fd53;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--base-color);
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.menu .toggle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 3rem;
  color: var(--base-color);
  transition: all 0.5s ease;
  cursor: pointer;
}

.menu .toggle.active {
  background-color: var(--base-color);
  box-shadow: 0 0 0 60px #fff, 0 0 0 68px #fff;
  color: #fff;
  transform: rotate(315deg);
}

.menu .list {
  position: absolute;
  left: 10px;
  list-style-type: none;
  transition: all 0.5s ease;
  transform: rotate(calc(360deg / 8 * var(--i))) translateX(40px);
  transform-origin: 140px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.menu.active .list {
  visibility: visible;
  opacity: 1;
}

.menu .list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 1.75rem;
  color: var(--base-color);
  transform: rotate(calc(360deg / -8 * var(--i)));
}

.menu.active .list.active {
  transform: rotate(calc(360deg / 8 * var(--i))) translateX(12px);
}

.indicator {
  position: absolute;
  left: calc(50% + 2.5px);
  width: 100px;
  height: 1px;
  background-color: transparent;
  transition: all 0.5s ease;
  transform-origin: -3px;
  pointer-events: none;
}

.indicator::before {
  content: '';
  position: absolute;
  top: -27.5px;
  left: 72px;
  width: 55px;
  height: 55px;
  background-color: var(--base-color);
  box-shadow: 0 0 0 6px var(--primary-color);
  border-radius: 50%;
  transition: all 0.5s ease;
  opacity: 0;
}

.menu.active .indicator::before {
  top: -27.5px;
  left: -27.5px;
  background-color: var(--primary-color);
  box-shadow: 0 0 0 6px var(--base-color);
  opacity: 1;
}

.menu .list:nth-child(2).active ~ .indicator {
  transform: rotate(calc(45deg * 0)) translateX(-103px);
}

.menu .list:nth-child(3).active ~ .indicator {
  transform: rotate(calc(45deg * 1)) translateX(-103px);
}

.menu .list:nth-child(4).active ~ .indicator {
  transform: rotate(calc(45deg * 2)) translateX(-103px);
}

.menu .list:nth-child(5).active ~ .indicator {
  transform: rotate(calc(45deg * 3)) translateX(-103px);
}

.menu .list:nth-child(6).active ~ .indicator {
  transform: rotate(calc(45deg * 4)) translateX(-103px);
}

.menu .list:nth-child(7).active ~ .indicator {
  transform: rotate(calc(45deg * 5)) translateX(-103px);
}

.menu .list:nth-child(8).active ~ .indicator {
  transform: rotate(calc(45deg * 6)) translateX(-103px);
}

.menu .list:nth-child(9).active ~ .indicator {
  transform: rotate(calc(45deg * 7)) translateX(-103px);
}
